@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Vazir';
    src: url('./assets/font/vazir/Vazir.eot');
    src: url('./assets/font/vazir/Vazir.eot?#iefix') format('embedded-opentype'),
        url('./assets/font/vazir/Vazir.woff2') format('woff2'),
        url('./assets/font/vazir/Vazir.woff') format('woff'),
        url('./assets/font/vazir/Vazir.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body{
    font-family: 'vazir',serif,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@layer components{
  .slide-in-ul{
    @apply  text-red-400 before:w-0 before:transition-all
    hover:before:w-full before:content-['']
    before:absolute relative before:-bottom-2 before:right-0 before:h-1 
     before:rounded-xl before:bg-red-400  cursor-pointer bg-transparent 
     bg-repeat-round;
     
  }
}